:root {
  --clr-primary-500: hsl(47, 88%, 63%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-400: hsl(0, 0%, 50%);
  --clr-neutral-900: hsl(0, 0%, 7%);

  --ff-base: "Figtree", sans-serif;

  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-extra-bold: 800;

  background-color: var(--clr-primary-500);
}

/* general styling */
body {
  color: var(--clr-neutral-900);
  background-color: var(--clr-primary-500);
  font-family: var(--ff-base);
  font-weight: var(--fw-semi-bold);
  font-size: 1rem;
  display: grid;
  place-content: center;
  margin: 1.25rem;
}

/* utilities */
.flex-group {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

/* card style */
.card {
  --content-spacing: 1rem;

  display: grid;
  background-color: var(--clr-neutral-100);
  padding: 1.25rem;
  border: 1px solid var(--clr-neutral-900);
  border-radius: 1rem;
  max-width: 375px;
  box-shadow: 10px 10px var(--clr-neutral-900);
  overflow: hidden;
  transition: box-shadow 0.5s ease;
}

.card:hover {
  box-shadow: 15px 15px var(--clr-neutral-900);
}

.card__illustration img {
  border-radius: 0.5rem;
}

.card__content {
  display: grid;
  justify-items: start;
  gap: var(--content-spacing);
}

.card__badge {
  font-weight: var(--fw-extra-bold);
  background-color: var(--clr-primary-500);
  border-radius: 0.5rem;
  margin: 1.8rem 0 0;
  padding: 0.2rem 1.025rem;
}

.card__title {
  transition: color 0.5s ease;
}

.card__title:hover {
  color: var(--clr-primary-500);
  cursor: pointer;
}

.card__description {
  color: var(--clr-neutral-400);
  font-weight: var(--fw-regular);
}

.card__user-profile {
  width: 20%;
}

.card__username {
  font-weight: var(--fw-extra-bold);
}

.attribution {
  margin-top: 2rem;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
